<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="false"
  internalLogLevel="Error"
  internalLogToConsole="false"
  internalLogFile="${specialfolder:folder=UserProfile}/.servus/logs/nlog.log"
>
  <variable name="logdir" value="${specialfolder:folder=UserProfile}/.servus/logs" />

  <include file="nlog.targets.config" />

  <rules>
    <logger maxlevel="Info" final="true" name="Microsoft.*" />

    <logger name="*" minlevel="Info" writeTo="file-all" />
    <logger name="*" minlevel="Error" writeTo="file-error" />
  </rules>
</nlog>
